header{

    background-color:#000033;
    color:#FFFFFF;
    background-image: url("sunset.jpg");
    background-position:right;
    background-repeat: no-repeat;
    height:60px;
    text-align:center;
    padding-top:15px;
   
    
}
body{
    background-color:#90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF ,#90C7E3);
    background-repeat: no-repeat;
    color:#666666;
    font-family: Helvetica ;
}



a{
    text-decoration: none;
    
    
}

h2{

    color:#3399CC;
    font-family: Georgia;
    text-shadow:1px 1px #CCCCCC;
}
footer{

    font-size:90%;
    font-family: Georgia;
    padding:20px;
    text-align: center;
    font-style:italic;
}
.resort{

    font-weight:bold;
    color:#5C7FA3;
}
#contact{
    font-size:90%;

}
li{
    list-style-image: url('marker.gif');
}
nav{
    background-color:#FFFFFF;
    font-weight: bold;
    text-align:center;
    padding:10px;
}
h1{
    margin-top:0;
}
main{
    padding-top:1px;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;
}
#wrapper{
    width:80%;
    min-width:960px;
    max-width:2048px;
    background-color:#FFFFFF;
    box-shadow:3px 3px #333333;
    margin-right:auto;
    margin-left:auto;


}
#homehero{

    height: 300px;
    background-image: url("coast.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
}
#yurthero{
    height: 300px;
    background-image: url("yurt.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#trailhero{
    height: 300px;
    background-image: url("trail.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}