
header, main, nav, footer, figure, figcaption, aside, section, article { display: block; }
@media screen and (max-width: 64em) {
body{
    margin:0;
    background-color: #FFFFFF;

}
#wrapper{
    min-width: 0px;
    width:auto;
    box-shadow: none;
    border:none;

}
header{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0em;
    height:auto;



}
h1{
    letter-spacing:0.1em;
}
main{
    margin-left: 0;
}
nav{
    float:none;
    width:auto;
    text-align: center;
    padding:0.5em;


}
nav ul li{
    display: inline;
    padding-top: 0.25em;
    padding-bottom:0.25em ;
    padding-right: 0.75em;
    padding-left:0.75em;
    l
}
#homehero{
    margin:0;
    height:200px;
}
#yurthero{
    margin:0;
    height:200px;
}
#trailhero{
    margin:0;
    height:200px;
}
footer{
    margin-left:0;
}


}
@media only screen and (max-width: 37.5em) {

main{
    padding-top:0.1em;
    padding-bottom:0.1em;
    padding-left:1em;
    padding-right:1em;
    font-size: 90%;

}
h1{
    font-size: 2em;
}
nav{
    padding:0;
}
nav ul li{
    display:block;
    margin:0px;
    border-radius:2px solid #330000;
    

}

#homehero{
    background-image: none;
    height:0px;
}
#yurthero{
    background-image: none;
    height:0px;
}
#trailhero{
    background-image: none;
    height:0px;
}
#mobile{
    display:inline;
}
#desktop{
    display:none;
}

}
table{
    border: 2px solid #3399CC;
    border-collapse: collapse;
}
td {
    border:2px solid #3399CC;
    text-align:center;
    padding:0.5em;
}
th{
    border:2px solid #3399CC;
    padding:0.5em;
}
.text{
    text-align:left;
}
tr:nth-of-type(odd){
    background-color: #F5FAFC;
}
*{
    box-sizing: border-box;
}
header{

    background-color:#000033;
    color: #FFFFFF;
    
    height:120px;
    text-align:center;
    padding-top:30px;
    padding-left: 3em;
   
    
}
body{
    background-color:#B8DBED;
    color:#666666;
    font-family: Helvetica ;
}



h2{

    color:#3399CC;
    font-family: Georgia;
    text-shadow:1px 1px #CCCCCC;
}
footer{

    font-size:90%;
    font-family: Georgia;
    padding:20px;
    text-align: center;
    font-style:italic;
    margin-left:190px;
    background-color:#FFFFFF;
}
.resort{

    font-weight:bold;
    color:#5C7FA3;
}
#contact{
    font-size:90%;

}
main ul{
    list-style-image: url('marker.gif');
}
nav  {
    font-weight: bold;
    padding:1.5em;
    font-size: 120%;
    float:left;
    width:160px;
    
}
a{
    text-decoration: none;
}
nav ul li{
    list-style-type: none;
    margin:0px;
    padding-left:0px;
    font-size:1.2em;
}
h1{
    font-size:3em ;
    letter-spacing: 0.25em;
}
main{
    padding-top:1px;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:30px;
    background-color: #FFFFFF;
    margin-left:190px;
}
#wrapper{
    width:80%;
    min-width:960px;
    max-width:2048px;
    background-color:#90C7E3;
    box-shadow:3px 3px #333333;
    margin-right:auto;
    margin-left:auto;
    border-style:1px solid;
    border-color:#000033;
    background-image: linear-gradient(to bottom, #FFFFFF ,#90C7E3);
    background-repeat: no-repeat;


}
#homehero{

    height: 300px;
    background-image: url("coast2.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin-left: 190px;
}
#yurthero{
    height: 300px;
    background-image: url("yurt.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left:190px;
}
#trailhero{
    height: 300px;
    background-image: url("trail.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left:190px;
}
h1{
    font-size:3em;
    letter-spacing:0.25em;
}

a:link{
    color:#5C7FA3;
    font-size:medium;
}
a:visited{
   color: #344873;

}
a:hover{
    color:#A52A2A;
}
